html {
    scroll-behavior: smooth;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}

.info {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #1783e8;
    border: 3px solid black;
    background: linear-gradient(to left, #0066ff 20%, #0099ff 94%);
    color: white;
    padding: 2rem 0;
}

.profileImage {
    display: flex;
    border-radius: 50%;
    max-width: 200px;
    width: 200px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

/*.skills {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    margin: 2rem 0 0 1rem;
}*/

.aboutMe {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.media-object {
    display: flex;
    position: relative;
}


.portfolio-object {
    text-align: center;
    max-width: 50%;
    
}

.responsive {
    max-width: 100%;
    height: auto;
}

.portfolio-box {
    width: 50%;
    height: 500px;
    background-color: #d4d6db;
    border-style: solid;
    border-width: 3px;
    transition: .2s ease-in-out;
   /* -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0.1 1px 2px rgba(0, 0, 0, 0.1);*/
}

.portfolio-box2 {
    width: 50%;
    height: 500px;
    background-color: #d4d6db;
    border-style: solid;
    border-width: 3px;
    transition: .2s ease-in-out;
   /* -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0.1 1px 2px rgba(0, 0, 0, 0.1);*/
    
}

.portfolio-box3 {
    width: 50%;
    height: 500px;
    background-color: #d4d6db;
    border-style: solid;
    border-width: 3px;
    position: relative;
    transition: .2s ease-in-out;
    /*-webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0.1 1px 2px rgba(0, 0, 0, 0.1);*/
}

.portfolio-box4 {
    width: 50%;
    height: 500px;
    background-color: #d4d6db;
    border-style: solid;
    border-width: 3px;
    transition: .2s ease-in-out;
   /* -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0.1 1px 2px rgba(0, 0, 0, 0.1);*/
    
}

.portfolio-boxr {
    width: 50%;
    height: 500px;
    background-color: #d4d6db;
    border-style: solid;
    border-width: 3px;
    transition: .2s ease-in-out;
   /* -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0.1 1px 2px rgba(0, 0, 0, 0.1);*/
}

.portfolio-box6 {
    width: 50%;
    height: 500px;
    background-color: #d4d6db;
    border-style: solid;
    border-width: 3px;
    transition: .2s ease-in-out;
   /* -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0.1 1px 2px rgba(0, 0, 0, 0.1);*/
    
}

.portfolio-box7 {
    width: 50%;
    height: 500px;
    background-color: #d4d6db;
    border-style: solid;
    border-width: 3px;
    transition: .2s ease-in-out;
    /*-webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0.1 1px 2px rgba(0, 0, 0, 0.1);*/
}

.portfolio-box8 {
    width: 50%;
    height: 500px;
    background-color: #d4d6db;
    border-style: solid;
    border-width: 3px;
    transition: .2s ease-in-out;
    /*-webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0.1 1px 2px rgba(0, 0, 0, 0.1);*/
}

div.portfolio-text {
    position: absolute;
    color: white;
    bottom: 0;
   text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    width: 50%;
    padding: 10px;
    background-color: rgba(168, 235, 255, 0.2);
 
}

div.portfolio-textr {
    position: absolute;
    color: white;
    bottom: 0;
   text-align: center;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    width: 50%;
    padding: 10px;
    background-color: rgba(168, 235, 255, 0.2);
 
}

/*img.portfolio-box {
    height: 300px;
}*/

h4 {
    text-align: center;
}

/*.portfolio-box:hover {
    cursor: pointer;
    transform: scale(1.05);
}*/

/*.portfolio-box2:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.portfolio-box3:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.portfolio-box4:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.portfolio-box5:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.portfolio-box6:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.portfolio-box7:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.portfolio-box8:hover {
    cursor: pointer;
    transform: scale(1.05);
}*/


.services,
.contact-container {
    background-color: #F1F3Fa;
    
}

/*
.icon-left,
.icon-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.blurb-wrapper-right,
.blurb-wrapper-left {
    flex: 1;
}

.icon-left,
.blurb-wrapper-left {
    order: 1;
}

.icon-right,
.blurb-wrapper-right {
    order: 2;
}

.icon {
    width: 180px;
}

.blurb-wrapper {
    flex: 1;
}

.blurb-header {
    font-size: 24px;
    margin-top: 0;
}

.blurb-info {
    color: #646b90;
    font-size: 18px;
}
*/

.quote-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #66B6D3;
    font-size: 18px;
    border: none;
    padding: .8rem 4rem;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    margin-top: 50px;
}

@media (max-width: 768px){
    
    .responsive {
    max-width: 100%;
    height: auto;
    
}